#bottom{
  width: 100%;
  height: 170px;
  background-color: #252729;
  color: white;
  overflow: hidden;
  position: relative;
}
#bottom .coter{
  width: 95%;
  margin: auto;
}
#bottom .left{
  width: 400px;
  float: left;
}
#bottom .left ul{
  width: 405px;
  height: 15px;
  padding: 25px 0px;
  margin: 0;
}
#bottom .left ul a{
  text-decoration: none;
  cursor: pointer;
}
#bottom .left ul a li{
  height: 15px;
  float: left;
  border-right: 1px solid white;
  padding: 0px 7px;
  color: white;
  list-style: none;
  font-size: 12px;
}
#bottom .left p{
  font-size: 12px;
  margin-left: 5px;
  line-height: 30px;
}

#bottom .ll{
  font-size: 12px;
  color: white;
}
#bottom .code{
  /*float: right;*/
  height: 200px;
  width: 120px;
  text-align: center;
  /*margin-top: 30px;*/
  position: absolute;
  right: 20px;
  top: 30px;
}
#black{
  width: 100%;
  text-align: center;
  color: white;
  background: black;
}
#black span{
  font-size: 12px;
}
